:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dhx-background-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  text-align: center;
  height: 100%;
  width: 100%;
}


/* Tickets dataview styling */
.dhx_dataview_template_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}
.dhx_dataview_template_a_box {
  background-color: var(--dhx-background-secondary);
}
.dhx_dataview_template_a_box .dhx_dataview-item__inner-html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}
.dhx_dataview_template_a_box .dhx_dataview-item {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--dhx-background-primary);
  border: var(--dhx-border) !important;
  margin-bottom: 8px !important;
  margin-left: 8px !important;
}
.dhx_dataview_template_a_box .dhx_dataview-item:first-child {
  margin-left: 0 !important;
}
.dhx_dataview_template_a__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dhx_dataview_template_a__type {
  color: var(--dhx-font-color-contrast);
  text-align: center;
  text-transform: capitalize;
  width: 55px;
  height: 20px;
  border-radius: 2px;
}
.dhx_dataview_template_a__type--major {
  background-color: var(--dhx-color-danger);
}
.dhx_dataview_template_a__type--minor {
  background-color: var(--dhx-color-success);
}

.dhx_dataview_template_a__type--normal {
  background-color: var(--dhx-color-primary);
}
.dhx_dataview_template_a__content {
  padding-left: 16px;
  width: 80%;
}
.dhx_dataview_template_a__title {
  font: var(--dhx-font-family);
  font-weight: var(--dhx-font-weight-medium);
  padding-bottom: 8px;
}
.dhx_dataview_template_a__comment {
  display: -webkit-box;
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.dhx_dataview_template_a__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}
.dhx_dataview_template_a__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dhx_dataview_template_a__avatar {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  margin-right: 16px;
  border-radius: 20px;
  background: center center/cover no-repeat #f7f7f7;
}
.dhx_dataview_template_a__name {
  color: var(--dhx-font-color-secondary);
}
.dhx_dataview_template_a__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  line-height: 20px;
}
.dhx_dataview_template_a__comments .mdi:before {
  position: relative;
  top: 4px;
  color: var(--dhx-font-color-secondary);
  font-size: 20px;
  margin-left: 6px;
}
